<div class="flex items-center gap-2">
      <div class="w-6 font-bold"><%= letter %></div>
     <% (1..8).each do |num| %>
        <button class="bg-blue-500 text-white rounded px-2 py-1"><%= num %></button>
    <%end%>
</div>