<div class="w-full max-w-4xl flex justify-between bg-gray-800 text-white p-4 rounded mb-4 sticky top-0 z-10 shadow-lg">
    <h2 class="text-xl font-bold mb-4">Skill Total: <span id="skills-total" class="text-2xl ml-2">0.0</span></h2>
    <h2 class="text-xl font-bold mb-4">EGR Total: <span id="egr-total" class="text-2xl ml-2">0.0</span></h2>
    <h2 class="text-xl font-bold mb-4">CV + Bonus: <span id="cv-bonus-total" class="text-2xl ml-2">0.0</span></h2>
    <div data-controller="total-score">
      <h2 class="text-xl font-bold mb-4">Total Score: <span id="total-score" class="text-2xl ml-2">0.0</span></h2>
    </div>
</div>