<div class="min-h-screen flex flex-col items-center justify-start p-8 bg-gray-900 text-white">
  <%= render 'totals' %>
  
  <div class="flex flex-col md:flex-row gap-10">
    <%= render 'skills' %>
    <%= render 'egr_bonus' %>
    
  </div>

  <%= render 'reset_button' %>
</div>